<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>41639506797-mvnvj3a4pfmep1vee3o39u34rlhe1vn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41639506797-mvnvj3a4pfmep1vee3o39u34rlhe1vn8</string>
	<key>API_KEY</key>
	<string>AIzaSyAQvjlWsd4YulXmLnBYP5nwND-lUz_1_aM</string>
	<key>GCM_SENDER_ID</key>
	<string>41639506797</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ScottDaly.Kindred</string>
	<key>PROJECT_ID</key>
	<string>kindred-33</string>
	<key>STORAGE_BUCKET</key>
	<string>kindred-33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:41639506797:ios:49099e86b3e2827f</string>
	<key>DATABASE_URL</key>
	<string>https://kindred-33.firebaseio.com</string>
</dict>
</plist>
